.home{
  text-align: left;
  margin-top: 10px;
  
}
.margin{
  margin-left: 100px;
}
.btnMenu{
    border: 2px solid #F5F5F5;
    font-weight: bold;
    border-radius: 5%;
        color: black;
    background-color: #F5F5F5;
    margin-right: 20px;
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 23px 20px !important;
    line-height: 1;

}